/* ==================================== */
/* FONTS */
/* ==================================== */
@utility fontset-h1 {
  font-size: 3rem; /* 48px */
  line-height: 1; /* 48px */
  font-weight: 500;
}

@utility fontset-h2 {
  font-size: 1.5rem; /* 24px */
  line-height: 2.5rem; /* 40px */
  font-weight: 500;
}

@utility fontset-h3 {
  font-size: 1.125rem; /* 18px */
  line-height: 2rem; /* 32px */
  font-weight: 500;
}

@utility fontset-blockTitle {
  font-size: 0.875rem; /* 14px */
  line-height: 1.5rem; /* 24px */
  font-weight: 300;
}

@utility fontset-body {
  font-size: 0.875rem; /* 14px */
  line-height: 1.5rem; /* 24px */
  font-weight: 300;
}

@utility fontset-bodyBold {
  font-size: 0.875rem; /* 14px */
  line-height: 1.5rem; /* 24px */
  font-weight: 500;
}

@utility fontset-caption {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  font-weight: 300;
}

@utility fontset-link {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  font-weight: 700;
}

@utility fontset-buttonPrimary {
  font-size: 0.875rem; /* 14px */
  line-height: 1.5rem; /* 24px */
  font-weight: 700;
}

@utility fontset-buttonSecondary {
  font-size: 0.875rem; /* 14px */
  line-height: 1.5rem; /* 24px */
  font-weight: 500;
}

@utility fontset-navigation {
  font-size: 1.25rem; /* 20px */
  line-height: 2rem; /* 32px */
  font-weight: 500;
}

@utility kitty {
  font-size: 1.25rem; /* 20px */
  line-height: 2rem; /* 32px */
  font-weight: 500;
}

/* ==================================== */
/* FONT-SIZE */
/* ==================================== */
@utility dynamic-title-size {
  font-size: clamp(1rem, 5vw, 5rem);
}


/* ==================================== */
/* INPUT */
/* ==================================== */
@utility stylesSet-input {
  inline-size: 100%;
  margin: 0;
  padding: 1rem;

  color: var(--input-foreground-color);
  @apply fontset-body;
  
  background-color: var(--input-background-color);
  border: var(--input-border-width) var(--input-border-style) var(--input-border-color);
  border-radius: var(--input-borderRadius);

  outline: none;

  &:hover {
    border-color: transparent;
    box-shadow: var(--input-shadow-primary);
  }

  &:disabled {
    color: var(--input-foreground-color-disabled);
  }

  &:focus {
    border-color: var(--input-border-color-primary);
  }

  &::placeholder {
    color: var(--input-placeholder-color);
  }
}

@utility stylesSet-input-invalid {
  border-color: var(--input-border-color-desctuctive);

  &:hover {
    border-color: var(--input-border-color-desctuctive);
    box-shadow: var(--input-shadow-destructive);
  }

  &:focus {
    border-color: var(--input-border-color-desctuctive);
  }
}