/* ==================================== */
/* FONTS */
/* ==================================== */
@utility fontset-h1 {
  font-size: 3rem; /* 48px */
  line-height: 1; /* 48px */
  font-weight: 500;
}

@utility fontset-h2 {
  font-size: 1.5rem; /* 24px */
  line-height: 2.5rem; /* 40px */
  font-weight: 500;
}

@utility fontset-h3 {
  font-size: 1.125rem; /* 18px */
  line-height: 2rem; /* 32px */
  font-weight: 500;
}

@utility fontset-blockTitle {
  font-size: 0.875rem; /* 14px */
  line-height: 1.5rem; /* 24px */
  font-weight: 300;
}

@utility fontset-body {
  font-size: 0.875rem; /* 14px */
  line-height: 1.5rem; /* 24px */
  font-weight: 300;
}

@utility fontset-bodyBold {
  font-size: 0.875rem; /* 14px */
  line-height: 1.5rem; /* 24px */
  font-weight: 500;
}

@utility fontset-caption {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  font-weight: 300;
}

@utility fontset-link {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  font-weight: 700;
}

@utility fontset-buttonPrimary {
  font-size: 0.875rem; /* 14px */
  line-height: 1.5rem; /* 24px */
  font-weight: 700;
}

@utility fontset-buttonSecondary {
  font-size: 0.875rem; /* 14px */
  line-height: 1.5rem; /* 24px */
  font-weight: 500;
}

@utility fontset-navigation {
  font-size: 1.25rem; /* 20px */
  line-height: 2rem; /* 32px */
  font-weight: 500;
}

@utility kitty {
  font-size: 1.25rem; /* 20px */
  line-height: 2rem; /* 32px */
  font-weight: 500;
}

/* ==================================== */
/* FONT-SIZE */
/* ==================================== */
@utility dynamic-title-size {
  font-size: clamp(1rem, 5vw, 5rem);
}


/* ==================================== */
/* INPUT */
/* ==================================== */
@utility styleSet-input {
  margin: 0;
  padding: 1rem;

  color: var(--color-input-foreground);
  @apply fontset-body;
  
  background-color: var(--color-input-background);
  border: 1px solid var(--color-neutral-200, #dadada);
  border-radius: var(--radius-input);

  outline: none;

  &:hover {
    border-color: transparent;
    box-shadow: var(--shadow-input-primary);
  }

  &:disabled {
    color: var(--color-input-foreground-disabled);
  }

  &:focus {
    border-color: var(--color-primary);
  }

  &:focus-within {
    border-color: var(--color-primary);
  }

  &::placeholder {
    color: var(--color-input-placeholder);
  }
}

@utility styleSet-input-invalid {
  border-color: var(--color-destructive);

  &:hover {
    border-color: var(--color-destructive);
    box-shadow: var(--shadow-input-destructive);
  }

  &:focus {
    border-color: var(--color-destructive);
  }
}